@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px
}

.mainAppContainer {
    background-color: rgb(47, 47, 47);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}