@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;700&display=swap');

.mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.logo {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
}

.logo img {
    width: 15%;
}

/*////////////////RESPONSIVE/////////////////*/
@media(min-width: 768px) {
    .mainContainer {
        padding-top: 3rem;
    }
}

@media(min-width: 1000px) {
    .mainContainer {
        padding: 1rem;
    }

    .logo img {
        width: 15%;
        padding-right: 0.8rem;
        transition: 1s ease;
    }

    .logo img:hover {
        width: 10%;
        transform: perspective(25%)
    }
}