@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;700&display=swap");

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  font-size: 24px;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
}

.logo img {
  width: 10%;
  padding: 0.8rem;
  transition: 1s ease;
}

.logo img:hover {
  width: 15%;
}

button {
  background-color: #f7f7f7;
  border: none;
}

/*////////////////RESPONSIVE/////////////////*/

@media (min-width: 768px) {
  .mainContainer {
    justify-content: space-evenly;
    font-size: 24px;
  }
}
