.searchBarContainer {
    text-align: center;
}

.searchBarContainer input {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 0.5px solid #c3c3c3;

}

@media(min-width: 1000px) {

    .searchBarContainer input {
        width: 50%;
    }
}